@import "../../assets/scss/main.scss";

.app-layout {
  display: grid;
  height: 100vh;
  place-items: center;

  .main {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .1);
    height: 100%;
    width: 100%;
  }

  @media (min-width: 520px) {
    .main {
      height: 90vh;
      width: 520px;
    }
  }
}